{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{{ product.title }}</h1>
        <p><h4>{{ product.description }}</h4></p>
        <a href="#">{{ product.user.first_name }} {{ product.user.last_name }}</a>
        <hr>
        <h5>Category(-ies):</h5>
        {% for category in product_categories %}
                <p>{{ category.category_name }}</p>
        {% endfor %}
        <hr>
        <a href="#">{{ product.approved_by.username }}</a>
    </div>
</div>
{% endblock %}